<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dashboard-nav-bar></dashboard-nav-bar>
    <h3>Moje kursy!</h3>
    <tr *ngFor = "let course of myCourses">
        <td>
            <a routerLink = '/myCourses/{{course.refNumber}}' (click) = "onClick(course.refNumber)" >{{course.title}}</a>
        </td>
        <td>{{course.startDate}} {{course.duration}}</td>
    </tr>
</body>
</html>