<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kursy</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>
            Proponowane kursy
        </h1>
    </div>
    <div style="margin: auto; width: 50%;">
        <p>
            Kurs indywidualny A1 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo magni sed id officiis nam unde quas quaerat alias nisi nihil doloremque, ipsa nobis. Tempora vitae ut iste id odit.
        </p>
        <p>
            Kurs grupowy A1 (do 5 os) - Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, corrupti obcaecati mollitia incidunt ipsa voluptate sapiente praesentium illo reprehenderit molestiae natus nihil consequuntur assumenda, quos minima, possimus aperiam. Ab, qui!
        </p>
        <p>
            Kurs przygotowujący do egzaminu państwowego A2 - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi doloremque similique aspernatur tenetur, dolore ipsam. Provident consectetur eligendi assumenda dolorem fugiat? Odit architecto illo ut enim nostrum aspernatur fugit nobis?
        </p>
        <p>
            Symulacja egzaminu państwowego - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum enim nesciunt sunt aliquid, soluta rerum fugiat nostrum ipsum corporis, amet culpa minima nobis neque reprehenderit nihil porro laboriosam inventore voluptatibus!
        </p>
        <p>
            Sprawdzenie pracy egazminacyjnej pisemnej (krótka forma) - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat tempora praesentium quae beatae facilis porro accusantium nemo dolores unde, deleniti excepturi incidunt error labore accusamus aut hic sit cupiditate architecto.
        </p>
        <p>
            Sprawdzenie pracy egazminacyjnej pisemnej (długa forma) - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat tempora praesentium quae beatae facilis porro accusantium nemo dolores unde, deleniti excepturi incidunt error labore accusamus aut hic sit cupiditate architecto.
        </p>
    </div>
</body>
</html>