<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dashboard-nav-bar></dashboard-nav-bar>
    <div style = "margin-left: 20px;">
        <h2>Ustawienia konta</h2>
        <p>reset hasła etc</p>
        <p>Zapisane dane klienta</p>
        <button (click)="onAddressForm()">Dodaj dane adresowe/rozliczeniowe</button>
        <table>
            <tr>
                <td style="border: 1px solid black;" *ngFor = "let data of dataList " >
                    <input type="radio" [checked] = "data.isDefault" (click)="onSetDefault()" >Użyj jako domyślne
                    <p>{{data.firstName}} {{data.lastName}}</p>
                    <!-- dodać jeszcze wyświetlenie numeru mieszkania jeśli dostępny -->
                    <p>{{data.streetName}} {{data.streetNumber}}</p>
                    <p>{{data.zipCode}} {{data.town}}</p>
                    <p>{{data.phone}}</p>
                    <p>{{data.email}}</p>
                    <button>Usuń</button>
                    <button>Edytuj</button>
                </td>
            </tr>
        </table>
        <p>Powiadomienia i newslettery etc</p>
    </div>
</body>
</html>