<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dashboard-nav-bar></dashboard-nav-bar>
    <div style = "margin-left: 20px;">
        <h2>Ustawienia konta</h2>
        <p>reset hasła etc</p>
        <p>zapisane dane do wysyłki</p>
        <table>
            <tr>
                <td style="border: 1px solid black;" >
                    <input type="checkbox">domyślny
                    <p>imię nazwisko</p>
                    <p> ulica nr domu/nr lokalu</p>
                    <p>kod pocztowy miejscowość</p>
                    <p>telefon</p>
                    <p>mail</p>
                    <button>usuń</button>
                    <button>edytuj</button>
                </td>
            </tr>
        </table>
        <p>Powiadomienia</p>
    </div>
</body>
</html>