<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polecane linki</title>

</head>
<body style="margin: auto; width: 50%; text-align: center;">
    <div>
        <h1>
            <!-- dodać logo i żeby była wskazówka że to link -->
            <a (click)="onNavigate('https://www.instytutjezykowy.pl/pl/')" style="cursor: pointer;">Polski Instytut Językowy</a>
        </h1>
    </div>
    <div>
        <h1>
            TELC
        </h1>
    </div>
    
</body>
</html>