<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form [formGroup]="shopItemForm" (ngSubmit) = "onSubmit()" style="width: 80%; margin: auto; text-align: center;">

        <div class="form-group" *ngIf = "isUpdate">
            <label for = "refNumber" >Tytuł: </label>
            <input type = "refNumber" class = "form-control" formControlName = "refNumber" />
        </div>

        <div class="form-group" >
            <label for = "title" >Tytuł: </label>
            <input type = "title" class = "form-control" formControlName = "title"/>
        </div>

        <div class="form-group" >
            <label for = "price" >Cena [PLN]: </label>
            <input type = "number" step="0.01" min = "0" class = "form-control" formControlName = "price"/>
        </div>

        <div class="form-group" >
            <label for = "description" >Opis: </label>
            <textarea type = "description" class = "form-control" formControlName = "description"></textarea>
        </div>
        
        <div class="form-group" >
            <label for = "category" >Kategoria: </label>
            <select class = "form-control" formControlName = "category">
                <option>Wybierz</option>
                <option *ngFor="let category of categories" >{{category}}</option>
             </select>
        </div>
<!-- ilośc i czas trwania zajęć tylko dla kursów/symulacji mówionych etc dla pozostałych 0 lub null -->
        <div class="form-group">
            <label for = "length" >Ilość zajęć: </label>
            <input type = "number" min = "0" class = "form-control" formControlName = "length" />
        </div>

        <div class="form-group" >
            <label for = "duration" >Czas trwania zajęć [min]: </label>
            <input type = "number" step="5" min = "0" class = "form-control" formControlName = "duration" />
        </div>

        <div class="form-group" > 
            <!-- zmiana na listę poziomów np checkboxy?  -->
            <label for = "level" >Poziom: </label> 
            <select class = "form-control" formControlName = "level">
                 <option>Wybierz</option>
                 <option *ngFor="let level of levels" >{{level}}</option> 
             </select>
       </div>

         <!-- <div class="form_group">
            <label for="level">Poziom: </label>
            <div *ngFor = "let l of levels" style="display: inline-block;" >
                 <input type="radio" formControlName="levels" [value]="l" (change)="onLevelsSelection($event)"/>{{l}}
            </div>
        </div> -->

        <div class="form-group" >
            <label for = "file" >Plik: </label>
            <input type = "file" formControlName = "file" (change)="onFileSelected($event)">
            <!-- dla materiałów elektronicznych wrzucanie pliku -->
        </div>

        <div class="form-group" >
            <label for = "logo" >Logo: </label>
            <input type = "file" formControlName = "logo" (change)="onLogoSelected($event)">
            <!-- dla materiałów elektronicznych wrzucanie pliku -->
        </div>

        <div>
            <button class="btn btn-primary" type="submit" [disabled]="!shopItemForm.valid">{{isUpdate ? 'Aktualizuj' : 'Dodaj'}}</button> | 
            <button class="btn btn-primary" type="reset">Reset</button>
        </div>
        <div *ngIf = "resultText != null">
            <p>{{resultText}}</p>
        </div>

    </form>
</body>
</html>