<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        li
        {
            list-style-type: none;
        }
    </style>
</head>
<body style="margin: auto; width: 80%;">
    
    <div *ngIf="userRole == uR.LECTURER" >
        <p>panel admina/nauczyciela -> dodawanie/usuwanie/edycja pozycji (usuwanie i edycja przycisk przy pozycji) </p>
        <button (click) = "onAddShopItem()">Dodaj pozycję</button> ||  
        <button (click) = "onManageDiscountCodes()" > Zarządzaj kodami rabatowymi</button>
    </div>

    <div>
        <button routerLink = "/cart" >Przejdź do koszyka</button>
        <p>sortuj wg xxx</p>
        <div>
            <label> Sortowanie: </label>
            <select>
                <option>Cena: od najniższej</option>
                <option>Cena: od najwyższej</option>
                <option>Tytuł: A -> Z</option>
                <option>Tytuł: Z -> A</option>
            </select>
        </div>
        <p>pokaż na stronę</p>
    </div>

    <div style="float: inline-start; margin-right: 10px;">
        <h3>Kategoria: </h3>
        <li  *ngFor = "let category of categories">
            <input type="checkbox" [value]="category" (change) = "onSelectionCategory($event)" >{{category}}
        </li>
        <h3>Poziom: </h3>
        <!-- filtr po poziomie i czy uwzględniać poziomy pośrednie np B1/B2?-->
         <li *ngFor = "let level of levels">
            <input type="checkbox" [value]="level" (change) = "onSelectionLevel($event)" >{{level}}
         </li>

         <p>format</p>
         <p>stacjonarny/online?</p>
         <h3>Cena</h3>
         <!-- obsługa filtrowania ceną -->
         <input style="max-width: 50px;" type="number" name="minPrice" >
         <input style="max-width: 50px;" type="number" name="maxPrice">
    </div>

    <div style="display: inline-block;">
        <tr *ngFor = "let item of filteredShopItems">
            <td style = "width: 128px; vertical-align: middle;" (click) = "onShowShopItem(item.refNumber)">
                <img attr.src = "data:image/png;base64 , {{item.logo}}" alt = "{{item.title}}" style = "width: 128px; height: 128px; border: 1px solid black;">
            </td>
            <td (click) = "onShowShopItem(item.refNumber)"  >
                <!-- link przeprowadzający do danej pozycji np w tytule -->
                <p >{{item.title}}
                    <a  ></a>
                </p>
                <p>Cena {{item.price}} PLN</p>
                <p>{{item.description}}</p>
                <p>{{item.category}}</p>
            </td>
            <!-- tylko dla kursów i spotkań online -->
            <td>
                <button (click) = "onShowCalendarDialog(item)" >Sprawdź dostępne terminy</button>
            </td>
            <td>
                <button (click) = "onAddToCart(item)">Dodaj do koszyka</button>
                <button>Dodaj do listy życzeń</button>
            </td>
            <td *ngIf = 'userRole == uR.LECTURER'>
                <button (click) = "onEditShopItem(item.refNumber)" >Edytuj</button>
            </td>
            <td *ngIf = 'userRole == uR.LECTURER'>
                <button (click) = "onDeleteShopItem()">Usuń</button>
            </td>
        </tr>
    </div>

    <dialog id = "calendarDialog">
        <button  ></button>
        <p> Kalendarz z dostępnymi terminami kursu!</p>
        <table>
            <tr>
                <th *ngFor = " let day of weekdays"></th>
            </tr>
            <tr>

            </tr>
        </table>
        <button  >Zapisz</button>
    </dialog>

</body>
</html>