<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dashboard-nav-bar></dashboard-nav-bar>
    <div style="width: 80%; margin: auto;">
        <h3>Zamówienie: {{order.refNumber}}</h3>
        <p>Status {{order.status}}</p>
        <p>Kwota</p>
        <p>Zamawiający</p>
        <p>data zamówienia {{order.createdDate}}</p>
        <p>Metoda płatności: {{order.paymentMethod}} status płatności XXX</p>
        <p>metoda dostawy - jeśli występuje: {{order.deliveryMethod}} </p>
        <p>Uwagi do zamówienia: {{order.comment}}</p>
        <p>Wymagane działanie - opcja</p>

        <table>
            <caption>Pozycje zamówienia:</caption>
            <tr *ngFor = "let item of order.items">
                <td>{{item.refNumber}}</td>
                <td>{{item.category}}</td>
                <td>
                    <button>{{assignActionText(item.category)}}</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>