<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <dashboard-nav-bar></dashboard-nav-bar>
    <div style="width: 80%; margin: auto;">
        <h3>Zamówienie: {{order.refNumber}}</h3>
        <p>Status {{order.status}}</p>
        <p>Kwota</p>
        <p>Zamawiający</p>
        <p>data zamówienia</p>
        <p>Wymagane działanie - opcja</p>

        <p>Pozycje zamówienia</p>
        <li *ngFor = "let item of order.items">
            {{item.refNumber}} {{item.category}}
        </li>
    </div>
</body>
</html>