<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Mnie</title>

    <style>
        #mainSection
        {
            margin: auto;
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body id="mainSection">
    <div>
        <h1>
            Zdjęcie
        </h1>
    </div>
    <div>
        Opis - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore quia, vitae a veritatis quaerat labore ratione voluptates officiis ad nihil, accusantium sunt eveniet laudantium atque, magnam quas ea expedita vel!
    </div>
</body>
</html>