<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <p>
            Np linki do gier na wordwallu
        </p>
        <p>
            Gra na słówka
        </p>
        <p>
            Dopasuj flagi
        </p>
        <p>
            false friends
        </p>
        <p>
            Quiz o Polsce
        </p>
    </div>
</body>
</html>